h1 {
    text-align: center;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
} 

.game {
    text-align: center;
}

div {
    margin: 20px 0;
}

button {
    margin: 10px;
    font-size: 18px;
}